requests>=2.26.0,<2.27
Jinja2>=2.1,<3.0.1
libzim>=1.0.0,<1.1
zimscraperlib>=1.4.0,<1.5
css-beautify>=1.10.3<2.0
six>=1.16.0,<2.0  # css-beautify dependency
kiwixstorage>=0.8.1,<0.9
pif>=0.8.2,<0.9
tld>=0.12.6,<0.13
# fork supporting delays
https://github.com/rgaudin/pywikiapi/archive/master.zip#egg=pywikiapi
pywikiapi==4.3.0
