{% extends "base.html" %}

{% block content %}
    <div class="pre-content">
        <h1 id="section_0" class="title_md"> {{ title }}> </h1>
    </div>

    <div class="content" id="bodyContent">
        {% for method in methods %}
            <h1> {{ method.get('title') }} </h1>
            {% for step in method.get('steps') %}
                <p><b> {{ step.get('title') }} </b></p>
                <p> {{ step.get('text') }} </p>
                <p> {{ step.get('image') }} </p>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

{% block footer_breadcrumbs %}
    <div id="footer_crumbs">
        <ul class="breadcrumbs"> 
        </ul>
    </div>
{% endblock %}
