<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {{title}}
        </title>
        <link rel="stylesheet" type="text/css" href="{{ to_root }}assets/static/base.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{description}}">
    </head>
    <body>
        <!-- Header -->
        <div id="header_container">
            <div id="header" >
                <a href="{{ to_root }}templates/base.html">
                    <img src="{{ to_root }}assets/static/wikihow_logo.png" id="header_logo">
                </a>
            </div>
        </div>

        <div class="header_container shrunk" id="header_container_small">
        </div>

        <!-- Article Content -->
        <div id="content_wrapper" >
            <div id="content_inner">
                {% block content %}
                    <p> Home page content goes here... </p>
                {% endblock %}
            </div>
        </div>

        <!-- Footer -->
        <div id="footer" role="navigation">
            <div id="footer_logo_container">
                <a href="{{ to_root }}templates/base.html">
                    <img src="{{ to_root }}assets/static/wikihow_logo.png" id="footer_logo">
                </a>
            </div>
            <div class="footer_links">
                <a href="{{ to_root }}/help.html">
                    Home
                </a>
            </div>
            <div class="footer_links">
                <a href="{{ to_root }}/about.html">
                    About WikiHow
                </a>
            </div>
            <div class="footer_links">
                <a href="{{ to_root }}/experts.html">
                    Experts
                </a>
            </div>
        </div>
    </body>
</html>
