html {
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    font-size:100%;
    vertical-align:baseline;
    height:100%;
}

body {
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align:baseline;
    -webkit-tap-highlight-color:transparent;
    height:100%;
    background-color:#f3f3f3;
    color:#545454;
    font-family:Helvetica,"Nimbus Sans L",Arial,"Liberation Sans",sans-serif;
    line-height:1.4;
    font-size:16px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

div {
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    font-size:100%;
    vertical-align:baseline;
}

ul {
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    font-size:100%;
    vertical-align:baseline;
    list-style:none;
}

#header_container {
    height:72px;
    transform:scaleY(1);
    transform-origin:top;
    transition-duration:120ms;
    background-color:#93B874;
    position:fixed;
    border:0;
    z-index:10;
    top:0;
    width:100%;
}

#header {
    height:72px;
    position:relative;
    border-top:none;
    margin-left:25%;
    margin-right:25%;
}

#header_container.shrunken {
    transform:scaleY(0.5);
    transform-origin:top;
    transition-duration:210ms;
}

.breadcrumbs li {
    display:inline-block;
    padding-right:.3em;
}

.breadcrumbs li:after {
    content:' \20\00BB';
}

.breadcrumbs li:last-child:after {
    content:'';
}

#content_wrapper {
    padding-top:72px;
    background-color:#f3f3f3;
}

#content_inner {
    margin-left: 25%;
    margin-right: 25%;
    position:relative;
}

#footer {
    font-size: .9em;
    background-color: #93B874;
    color: #FFFFFF;
}

#footer_inner {
    margin-left:25%;
    margin-right:25%;
    max-width:1070px;
}

#footer_crumbs {
    color: #FFFFFF;
}
